#map {
    z-index: 1;
}

.zone-tooltip {
    min-width: 30px;
    height: 20px;
    margin-top: -5px;
    margin-left: -15px;
    padding: 0 5;
    font-weight: bold;
    background-color: rgba(1, 146, 217);
    text-align: center;
    color: #fff;
}

.hidden, .prototype {
    display: none !important;
}

.filter-sections {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.filter-section .title-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
.filter-section .title-block span {
    user-select: none;
    font-weight: bold;
}
.filter-section .title-block .number {
    width: 30px;
    margin: 0 5px;
}
.filter-section .title-block .arrow {
    width: 20px;
    height: 15px;
}
.filter-section .title-block .arrow.down {
    width: 15px;
    height: 20px;
    transform: rotate(90deg);
    padding: 0 2.5px;
}

.filter-section .filter-lines {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    background-color: white;
    padding: 5px;
    border-radius: 0 0 10px 10px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    margin-top: 20px;
}
.filter-section .filter-lines .filter-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    padding-right: 10px;
    cursor: pointer;
}
.filter-section .filter-lines .filter-check {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.filter-section .filter-lines .filter-check input[type=checkbox]{
    cursor: pointer;
}
.filter-section .filter-lines .filter-line .external-link img {
    width: 15px;
    height: 15px;
}
.filter-section .filter-lines .filter-line .external-link:hover {
    background-color: #ddd;
}