@media only screen and (max-width: 400px) {
    .filter-section {
        width: 100% !important;
        min-width: 100% !important;
    }
}

@media only screen and (max-width: 600px),
       only screen and (max-height: 600px) {

    body, #map {
        height: 100%;
    }
    
    h1, .menu {
        display: none;
    }

    .menu {
        position: absolute;
        z-index: 4;
        height: calc(100% - 40px);
        width: calc(100% - 40px);
        top: 0;
        left: 0;
        color: white;
        margin: 0;
        padding: 20px;
    }
    .close-mobile-menu-button {
        display: block !important;
        position: absolute;
        top: 10px;
        right: 10px;
        background-image: url("/images/white-cross.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 70px 70px;
        cursor: pointer;
        width: 70px;
        height: 70px;
    }

    .filter-sections {
        margin-top: 60px;
        flex-direction: column;
        justify-content: start;
        gap: 50px;
        text-align: center;
        width: 100%;
    }
    .filter-section .title-block .arrow {
        display: none;
    }
    .title-block {
        display: flex;
        justify-content: center;
    }
    .filter-section {
        width: 50%;
        min-width: 400px;
        margin: 0 auto;
    }
    .filter-section .filter-lines {
        position: relative;
        background-color: transparent;
        border: none;
    }
    .filter-section.no-expanded {
        display: none;
    }
    .filter-section.expanded .title-block .text {
        text-decoration: underline;
    }
    .filter-check {
        align-items: center;
    }
    .filter-check input[type=checkbox] {
        width: 30px;
        height: 30px;
    }
    .external-link {
        background-image: url("/images/white-external-link.png") !important;
    }

    .loading-text {
        position: absolute;
        z-index: 2;
        width: 100%;
        margin-top: 2px;
    }

    body {
        margin: 0;
    }

    .leaflet-touch .leaflet-bar a {
        width: 50px !important;
        height: 50px !important;
        line-height: 50px !important;
    }
    .leaflet-control-geocoder {
        min-width: 70px !important;
        min-height: 70px !important;
    }
    .leaflet-control-geocoder-icon {
        width: 70px !important;
        height: 70px !important;
    }
    .leaflet-top .leaflet-control {
        margin-top: 20px !important;
    }
    .leaflet-popup-close-button {
        width: 34px !important;
        height: 34px !important;
        font: 40px/40px Tahoma, Verdana, sans-serif !important;
    }

    .cam-popup .cam-section .cam-section-title-block {
        height: 40px;
        width: calc( 100% - 30px );
    }

    .mobile-menu-burger {
        display: flex;
        position: absolute;
        top: 98px;
        right: 10px;
        z-index: 2;
    }

    .cam-popup-top-buttons {
        gap: 20px !important;
    }

    .cam-popup .cam-popup-top-buttons .cam-popup-top-button {
        background-size: 30px 30px;
        width: 30px;
        height: 30px;
    }
    .cam-popup .cam-popup-top-buttons .cam-street-view-button {
        background-size: 18px 30px;
        width: 18px;
    }
    .cam-popup .cam-sections {
        margin-top: 30px;
    }


    .legend {
        position: relative;
        width: 100%;
        top: 0;
        left: 0;
        margin-top: 100px;
    }
    .legend .black-background {
        display: none;
    }
    .legend-header {
        cursor: auto;
    }
    .legend-header .arrow {
        display: none;
    }
    .legend-title {
        width: 100%;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        text-decoration: underline;
    }
    .legend-items {
        margin-top: 15px;
        display: block;
    }
    .legend-item {
        width: 155px;
        margin: 0 auto;
    }
}