#map {
    z-index: 1;
}

h1 {
    text-align: center;
}

.loading-text {
    font-style: italic;
    margin-bottom: 10px;
    text-align: center;
    height: 15px;
}

.zone-tooltip {
    min-width: 30px;
    height: 20px;
    margin-top: -5px;
    margin-left: -15px;
    padding: 0 5;
    font-weight: bold;
    background-color: rgba(1, 146, 217);
    text-align: center;
    color: #fff;
}

.hidden, .prototype {
    display: none !important;
}

.arrow.down {
    transform: rotate(90deg);
}

.filter-sections {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.filter-section .title-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
.filter-section .title-block span {
    user-select: none;
    font-weight: bold;
}
.filter-section .title-block .number {
    width: 30px;
    margin: 0 5px;
}
.filter-section .title-block .arrow {
    width: 20px;
    height: 15px;
}
.filter-section .title-block .arrow.down {
    width: 15px;
    height: 20px;
    padding: 0 2.5px;
}

.filter-section .filter-lines {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    background-color: white;
    padding: 5px;
    border-radius: 0 0 10px 10px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    margin-top: 20px;
}
.filter-section .filter-lines .filter-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    padding-right: 10px;
    cursor: pointer;
}
.filter-section .filter-lines .filter-check {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.filter-section .filter-lines .filter-check input[type=checkbox]{
    cursor: pointer;
}
.filter-section .filter-lines .filter-line .external-link img {
    width: 15px;
    height: 15px;
}
.filter-section .filter-lines .filter-line .external-link:hover {
    background-color: #ddd;
}

.cam-popup {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 300px;
}
.cam-popup .cam-section .cam-section-title-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background-color: #eee;
    padding: 0 10px;
    border-radius: 10px;
}
.cam-popup .cam-section .cam-section-title-block span {
    font-weight: bold;
    font-size: 16px;
}
.cam-popup .cam-section .cam-section-title-block .arrow {
    font-weight: bold;
    font-size: 16px;
    width: 15px;
    height: 10px;
}
.cam-popup .cam-section .cam-section-title-block .arrow.down {
    width: 10px;
    height: 15px;
    padding: 0 2.5px;
}


.cam-popup .cam-section .cam-section-properties {
    display: table;
}
.cam-popup .cam-section .cam-section-property {
    display: table-row;
    margin-left: 10px;
}
.cam-popup .cam-section .cam-section-property span {
    font-size: 12px;
    display: table-cell;
}
.cam-popup .cam-section .cam-section-property span:nth-child(1) {
    font-weight: bold;
    padding-left: 10px;
    padding-right: 5px; 
}

.mobile-filter-burgers {
    border-radius: 8px;
    width: 62px;
    height: 70px;

    padding: 0 4px;

    cursor: pointer;

    display: none;
    flex-direction: column;
    justify-content: space-around;

    background-color: white;

    border: 2px solid rgba(0,0,0,0.2);
}
.mobile-filter-burgers div {
    width: 100%;
    height: 6px;
    background-color: black;
    border-radius: 4px;

    position: relative;
}