html {
    height: 100%;
}
body {
    height: calc( 100% - 29px);
}
main {
    height: 100%;
}

#map {
    z-index: 1;
    height: calc( 100% - 118px )
}

h1 {
    text-align: center;
}

.loading-text {
    font-style: italic;
    margin-bottom: 10px;
    text-align: center;
    height: 15px;
}

.zone-tooltip {
    min-width: 30px;
    height: 20px;
    margin-top: -5px;
    margin-left: -15px;
    padding: 0 5;
    font-weight: bold;
    background-color: rgba(1, 146, 217);
    text-align: center;
    color: #fff;
}

.hidden, .prototype {
    display: none !important;
}

.arrow.down {
    transform: rotate(90deg);
}
.arrow {
    background-image: url("/images/arrow.png");
    background-position: center;
    background-repeat: no-repeat;
}
.white-arrow {
    background-image: url("/images/white-arrow.png");
}

.menu .close-mobile-menu-button {
    display: none;
}

.filter-sections {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.filter-section .title-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
.filter-section .title-block span {
    user-select: none;
    font-weight: bold;
}
.filter-section .title-block .number {
    width: 30px;
    margin: 0 5px;
}
.filter-section .title-block .arrow {
    width: 20px;
    height: 15px;;
    background-size: 20px 15px;
}
.filter-section .title-block .arrow.down {
    background-size: 15px 20px;
    width: 15px;
    height: 20px;
    padding: 0 2.5px;
}

.filter-section .filter-lines {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    position: absolute;
    z-index: 3;
    background-color: white;
    padding: 5px;
    border-radius: 0 0 10px 10px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    margin-top: 20px;
}
.filter-section .filter-lines .filter-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    padding-right: 10px;
    cursor: pointer;
}
.filter-section .filter-lines .filter-check {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.filter-section .filter-lines .filter-check input[type=checkbox]{
    cursor: pointer;
}
.filter-section .filter-lines .filter-line .external-link {
    width: 15px;
    height: 15px;
    background-image: url("/images/external-link.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15px 15px;
}
.filter-section .filter-lines .filter-line .external-link:hover {
    background-color: #ddd;
}

.cam-popup {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 300px;
}

.cam-popup .cam-popup-top-buttons {
    position: absolute;
    top: 5px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.cam-popup .cam-popup-top-buttons .cam-popup-top-button {
    width: 15px;
    height: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15px 15px;
}
.cam-popup .cam-popup-top-buttons .cam-street-view-button {
    background-image: url("/images/street-view.png");
    background-size: 9px 15px;
}
.cam-popup .cam-popup-top-buttons .cam-gps-pointer-button {
    background-image: url("/images/gps-pointer.png");
}
.cam-popup .cam-popup-top-buttons .cam-copy-gps-button {
    background-image: url("/images/copy.png");
}

.cam-popup .cam-sections {
    margin-top: 15px;
}
.cam-popup .cam-section .cam-section-title-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background-color: #eee;
    padding: 0 10px;
    border-radius: 10px;
}
.cam-popup .cam-section .cam-section-title-block span {
    font-weight: bold;
    font-size: 16px;
}
.cam-popup .cam-section .cam-section-title-block .arrow {
    font-weight: bold;
    font-size: 16px;
    width: 15px;
    height: 10px;
    background-size: 15px 10px;
}
.cam-popup .cam-section .cam-section-title-block .arrow.down {
    width: 10px;
    height: 15px;
    padding: 0 2.5px;
    background-size: 10px 15px;
}


.cam-popup .cam-section .cam-section-properties {
    display: table;
}
.cam-popup .cam-section .cam-section-property {
    display: table-row;
    margin-left: 10px;
}
.cam-popup .cam-section .cam-section-property span {
    font-size: 12px;
    display: table-cell;
}
.cam-popup .cam-section .cam-section-property span:nth-child(1) {
    font-weight: bold;
    padding-left: 10px;
    padding-right: 5px; 
}

.map-buttons {
    position: relative;
}

.map-button {
    border-radius: 4px;
    width: 35px;
    height: 35px;

    display: flex;
    cursor: pointer;

    flex-direction: column;
    justify-content: space-around;

    background-color: white;

    border: 2px solid rgba(0,0,0,0.2);

    z-index: 2;

    position: absolute;
}

.locate-button {
    
    background-image: url("/images/compass-icon.png");
    background-size: 100%;

    right: 10px;
    top: 60px;
}

.mobile-menu-burger {
    display: none;
}

#menu-black-background {
    display: none;
}
.black-background {
    position: absolute;
    z-index: 3;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.65;
}

.temporary-message {
    display: block;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 1s;

    position: absolute;
    bottom: 10%;
    z-index: 99;
    text-align: center;

    width: 100%;
}
.temporary-message.hidden {
    display: block !important;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 1s, opacity 1s;
}
.temporary-message .content {
    position: relative;
    display: inline-block;
    background-color: #fff;
    padding: 10 30px;
    border-radius: 20px;
}

.legend {
    position: absolute;
    left: 10px;
    top: 230px;
    z-index: 2;
    color: #fff;
    padding: 2.5px 5px;
    width: 160px;
}
.legend-header {
    padding: 0 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    user-select: none;
    cursor: pointer;
}
.legend-header .arrow {
    width: 13px;
    height: 10px;;
    background-size: 13px 10px;
}
.legend-header .arrow.down {
    background-size: 10px 13px;
    width: 10px;
    height: 13px;
    padding: 0 2.5px;
}

.legend-items, .legend-header {
    z-index: 4;
    position: relative;
}

.legend-items {
    display: block;
}
.legend-item {
    position: relative;
}
.legend-item-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.legend-item img {
    width: 25px;
    height: 25px;
}
.legend-item p {
    font-size: 12px;
    font-weight: bold;
    user-select: none;
}